body {
  font-family: Arial, sans-serif;
}
form {
  margin: 1rem 0;
}
textarea {
  display: block;
  font-size: 1.2rem;
  width: 100%;
  height: 10rem;
}
button {
  display: block;
  font-size: 1.2rem;
}
